
* {
    margin: 0;
    padding: 0;
}

:root {
    font-family: "Open Sans", sans-serif;
    line-height: auto;
}

body {
    background-color: #F5F4F0;
}

#page {
    box-sizing: border-box;
    width: 1120px;
    border: solid;
    border-color: #F5F4F0;
    margin: 88px 80px 137px;
}

h1, h2, h3 {
    line-height: auto;
    font-weight: bold;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 28px;
    margin-left: 10px;
}

.extra {
    line-height: auto;
    font-weight: bold;
}

.headline {
    font-size: 16px;
    line-height: 22px;
    font-weight: bold;
    color: #e1624f;
    text-transform: uppercase
}

img {
    border-radius: 28px;
    width: 100%;
}

main div img {
    height: 375px;
    object-fit: cover;
    margin-top: 44px;
}

.subtitle {
    font-size: 16px;
    line-height: 22px;
    font-style: italic;
    text-align: center;
    color: #333333;
    margin-top: 24px;
}


ul {
    margin-left: 26px;
}

ul li::marker {
    color: #333333;
}

ul {
    font-size: 16px;
    line-height: auto;
    font-weight: bold;
}

.historia{
    color: #0C51A7;
}

#casais {
    color: #591B98;
}

#familias {
    color: #E5245E;
}

#orcamento {
    color: #E95E10;
}

.divider {
    width: 100%;
    height: 1px;
    margin: 36px 0;
    background-color: #D9D9D9;
}